<footer class="site-footer">
  <section class="rss">Follow Me: <a class="subscribe-button icon-feed" style="padding-right: 20px" href="https://gr36.micro.blog/categories/main/feed.xml"></a><a class="icon-twitter" href="https://twitter.com/gr36"></a></section>

<section class="copyright"><img class="u-photo selfie" src="https://micro.blog/gr36/avatar.jpg" alt="Greg Morris" /><a class="h-card u-url p-author" rel="me" href="https://gr36.com/">Greg Morris aka <span class="p-nickname">GR36</span></a>
| <a href="https://www.gr36.com/archive/" class="footer-link">All Posts</a>
| <a href="https://www.gr36.com/replies/" class="footer-link">Replies</a>
</section>

</footer>
<!-- custom js -->
{{ range .Site.Params.customJS }}
  <script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}
